APTUSDT_hourly_data.csv
BTCUSDT_hourly_data.csv
ETHUSDT_hourly_data.csv
XRPUSDT_hourly_data.csv
BNBUSDT_hourly_data.csv
SOLUSDT_hourly_data.csv
HBARUSDT_hourly_data.csv
JUNUSDT_hourly_data.csv
LDOUSDT_hourly_data.csv
LTCUSDT_hourly_data.csv
XMRUSDT_hourly_data.csv
TONUSDT_hourly_data.csv
PEPEUSDT_hourly_data.csv
SOLUSDT_hourly_data.csv
STRKUSDT_hourly_data.csv
USDCUSDT_hourly_data.csv
JUPUSDT_hourly_data.csv
data_compare_eda.csv
CAKEUSDT_hourly_data.csv